{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'stark/bootstrap/css/bootstrap.css' %}">
</head>
<body>
<div class="container">
    <div class="row">
        <h1>列表</h1>
    <div>
        {% if show_add_btn %}
        <a class="btn btn-primary" href="{{ add_url }}">添加</a>
        {% endif %}
    </div>
        <table class="table table-bordered">
            <thead>
            <tr>
                {% for header in header_list %}
                    <th>
                        {{ header }}
                    </th>
                {% endfor %}

            </tr>
            </thead>
            <tbody>
            {% for obj in data_list %}
                <tr>
                    {% for col in obj %}
                        <td>{{ col }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}

            </tbody>
        </table>
    {{ html|safe }}
    </div>
</div>
</body>
</html>