<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .pager a{
            display: inline-block;
            padding: 2px 8px;
            margin: 0 5px;
            border: 1px solid cadetblue;
        }
        .pager a.active{
            background-color: #2b669a;
            color: white;
        }
    </style>
</head>
<body>
    <h1>图书列表</h1>
    <ul>
        {% for item in book_list %}
            <li>{{ item }}<a href="/book/edit/?{{ list_condition }}">编辑</a></li>
        {% endfor %}
    </ul>
    <div class="pager">
        {{ page_html|safe }}
    </div>
</body>
</html>